@using AIRpgAgents.Core
@inherits LayoutComponentBase

<RadzenLayout style="height: 99vh">
    <RadzenHeader>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="1"><RadzenSidebarToggle title="Navigation menu" Click="@(() => _sidebar1Expanded = !_sidebar1Expanded)" /></RadzenColumn>
            <RadzenColumn Size="9"><RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center" Style="color:white" Text="@Title" /></RadzenColumn>
            <RadzenColumn Size="1">
                <Login UserName="@AppState.Player.Name" />
            </RadzenColumn>
            <RadzenColumn Size="1">
                <RadzenLink Style="width:32px; height:32px; margin-left:auto; margin-right:auto; display:block" Path="https://github.com/HillPhelmuth/AIRpgAgents" Target="_blank">
                    <RadzenImage Style="width:32px; height:32px" Path="images/github-mark-white.png"></RadzenImage>
                </RadzenLink>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_sidebar1Expanded">
        <RadzenLink Path="" Text="Dice"></RadzenLink>
        <RadzenLink Path="createCharacter" Text="Create Character Agent"/>
        <RadzenLink Path="buildWorld" Text="Build World Agent"></RadzenLink>
        <RadzenLink Path="narrative" Text="Narrative Log Agent"></RadzenLink>
        <RadzenLink Path="combatEncounter" Text="Combat Encounter Agent"></RadzenLink>
        <div style="position:absolute; bottom:5rem">
            <RadzenLink Path="documents" Text="Game Rules Documents"></RadzenLink>
            <RadzenLink Path="player" Text="Saved Characters"></RadzenLink>
            <RadzenLink Path="worlds" Text="Saved Worlds"></RadzenLink>
        </div>
        <hr/>

    </RadzenSidebar>
    <RadzenBody Style="padding:0;height:100%" @onclick="@(() => _sidebar1Expanded = false)">
        <div class="rpg-body">@Body</div>

    </RadzenBody>


</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<RadzenComponents/>
<RollDiceWindow/>