@inherits LayoutComponentBase

<RadzenLayout style="height: 99vh">
    <RadzenHeader>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="1"><RadzenSidebarToggle Click="@(() => _sidebar1Expanded = !_sidebar1Expanded)" /></RadzenColumn>
            <RadzenColumn Size="9"><RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center" Style="color:white" Text="@Title" /></RadzenColumn>
            <RadzenColumn Size="1">
                <Login/>
            </RadzenColumn>
            <RadzenColumn Size="1">
                <RadzenLink Style="width:32px; height:32px; margin-left:auto; margin-right:auto; display:block" Path="https://github.com/HillPhelmuth/AIRpgAgents" Target="_blank">
                    <RadzenImage Style="width:32px; height:32px" Path="images/github-mark-white.png"></RadzenImage>
                </RadzenLink>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_sidebar1Expanded">
        
        <RadzenLink Path="" Text="Dev Home"></RadzenLink>
        <RadzenLink Path="player" Text="Your Characters"></RadzenLink>
        <RadzenLink Path="worlds" Text="Worlds"></RadzenLink>
        <hr/>

    </RadzenSidebar>
    <RadzenBody Style="padding:0" @onclick="@(() => _sidebar1Expanded = false)">
        <div class="rpg-body">@Body</div>

    </RadzenBody>


</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<RadzenComponents/>
<RollDiceWindow/>