@using AIRpgAgents.ChatModels
<div class="rpg-input-container">
    <div class="rpg-input-card">
        <form @onsubmit="@(e => SubmitRequest(_requestForm))">
            <div class="rpg-row">
                <div class="rpg-col-main">
                    <div class="rpg-form-field" title="@HelperText">
                        @*  <label class="rpg-label">@HelperText</label> *@
                        @if (_requestForm.UserInputRequest.FileUploads.Count > 0)
                        {

                            <div style="">
                                @foreach (var fileUpload in _requestForm.UserInputRequest.FileUploads)
                                {
                                    <div class="rpg-uploaded-image">
                                        <img src="@($"data:image/png;base64,{fileUpload.FileBase64}")" alt="Uploaded" />
                                    </div>
                                }
                                
                            </div>
                        }
                        <div class="rpg-input-wrapper">
                            @if (UserInputFieldType == UserInputFieldType.TextBox)
                            {
                                <input type="text" 
                                       class="rpg-input" 
                                       readonly="@_isDisabled" 
                                       name="Input" 
                                       @bind="@_requestForm.UserInputRequest.ChatInput" />
                            }
                            else
                            {
                                <textarea class="rpg-textarea" 
                                          readonly="@_isDisabled" 
                                          name="Input" 
                                          @bind="@_requestForm.UserInputRequest.ChatInput"></textarea>
                            }
                        </div>
                        @if (IsRequired)
                        {
                            <div class="rpg-validation-message">@($"{HelperText} required")</div>
                        }
                    </div>
                    
                   
                </div>

                <div class="rpg-col-buttons">
                    

                    <div class="rpg-button-card">
                        <button type="button" 
                                class="rpg-button rpg-button-toggle" 
                                @onclick="ToggleInputType">
                            <i class="rzi">@(UserInputFieldType == UserInputFieldType.TextBox ? "expand" : "unfold_less")</i>
                        </button>
                        
                        <button type="submit" 
                                class="rpg-button rpg-button-send" 
                                disabled="@(_isDisabled || IsBusy)">
                            <i class="rzi">send</i>
                            @if (IsBusy)
                            {
                                <span>...</span>
                            }
                            else
                            {
                                <span>@ButtonLabel</span>
                            }
                        </button>
                        
                        <button type="button" 
                                class="rpg-button rpg-button-cancel" 
                                @onclick="Cancel">
                            <i class="rzi">block</i>
                        </button>
                        
                        <button type="button" 
                                class="rpg-button rpg-button-attach" 
                                @onclick="AddImage">
                            <i class="rzi">attach_file</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>